*
{
	box-sizing:border-box;
}
.clearfix:after
{
	content:"";
	display:table;
	clear:both;	
}
.left
{
	float:left;
}
.p
{
	position:relative;
}
.a
{
	position:absolute;
	bottom:-10%;
	
}
.img
{
	width:100%;
}
.w-25
{
	width:25%;
	margin:10px;
	padding:10px;
}